{% extends 'base.html' %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block content %}
<center>
    <h1><b>WELCOME TO TUKULE LUNCH</b></h1>
    <p>
        This is a web application that helps the Main Company Seventh Day Adventist Church (Nairobi)
        to raise funds for their Sabbath lunch kitty. <br>It targets all church members and well wishers 
        to pledge the available items and commit to the same.
    </p>
    <p ><b>HOW TO PLEDGE AND COMMIT</b></p>
    <ol>
    <li>Select the category of items you wish to pledge from the <b>CATEGORIES</b> dropdown menu in the navbar<b> e.g Pledge Food Items</b></li>
    <li>Select a specific item within your preferred category and click on it to display more information <br> including the <b>Pledge This Item</b> button</li>
    <li>Click on the <b>Pledge This Item</b> button, this will lead you to a summary of your pledge(s)</li>
    <li>You can increase the quantity of the pledged item by pressing the <i class="fas fa-plus-circle pledge_icon "></i> button <br>
    Or reduce the quantity using the <i class="fas fa-minus-circle pledge_icon"></i> button <br>
    Or delete a pledged item using the <i class="fas fa-trash-alt pledge_icon" ></i> button.</li>
    <li>You can pledge more items by pressing the <b>Pledge More Items</b> button. You will see the item added and the total cash increasing too</li>
    <li>Once you have reviewed your pledged items and desire to commit to them, press the <b>COMMIT</b> button</li>
    <li>Fill the Committment Form with accurate details as required then press the <b>SUBMIT</b> button </li>
    <li>You will then receive an email to the email address you provided in the commitment form <br>
        It contains all the items you have committed to and the corresponding total amount of cash.</li>
    <li>In order to track your commitment and payment histories you will need to create an account by signing up or signing in</li>
    <li>If you need to sign up, the <b>ensure you provide the same email that you used to commit</b> in the commitment form</li>
    <li>The Payment details are in the <b>FOOTER</b></li>
</ol>
    <br>
    <p><b>THANK YOU AND MAY GOD BLESS YOU FOR TAKING TIME TO PLEDGE AND COMMIT!</b></p>
</center>
{% endblock %}